
body {
  margin: 0;
  background-color: #1e152e !important; 
  /* background: linear-gradient(#1e152e, #161616); */
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji !important;
  height: 100%;
  /* @media (min-width: 1200px) {
    zoom: 0.85;
  } */
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: rgb(89 26 205 / 80%) !important;
  color: rgb(255 255 255 / 87%) !important;

  .css-9mgopn-MuiDivider-root {
    border-color: rgb(0 0 0);
  }

  a {
    text-decoration: none;
    color: white;
  }
}